<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ZaheerBrothersStudios.woodbreakdeluxe"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Wood Break Deluxe</name>

  <description>
      Throw the knife to break the Wood! This is a Port of Scratch Game, Wood Break
  </description>

  <author href="https://sites.google.com/view/shahaan/home" email="aman.shahmir.shahaan@gmail.com">
      ZaheerBrothersStudios
  </author>

    <icon src="icon.png" />

</widget>